body{
  margin: 0;
  padding: 0;
  background-color: #BA5536;
}

header{
    background-color: #46211A;
    border: 1px black solid;
}

main{
    margin-top: 85px;
}

.caja{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px black;
    background-color: #46211A ;
    cursor: pointer;
}

.caja:hover{
    background-color:#A43820;
}

.caja div{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja p{
    color: white;
}

.tarjeta {
    height: 500px;
    background-color: transparent;
    perspective: 1000px;
    cursor: pointer;
}
  
 .box {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .7s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.front {
    position: absolute;
    backface-visibility: hidden;
    background-color: #693D3D;
    color: white;
}

.imgPhoto:hover{
    opacity: .5;
    box-shadow: 0 8px 8px 0 #46211A;    
}

.back {
    position: absolute;
    backface-visibility: hidden;
    overflow-y: scroll;
    background-color: #A43820;
    transform: rotateY(180deg);
    color: white;
}

.card{
    height: 100%;
    width: 100%;
}

.card img{
    object-fit: cover;
    height: 70%;
}

.card-body p{
    margin: 7px;
}

.buttonFav{
    position: absolute;
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;
    right: 0;
    z-index: 2;
}

.rotar1 .box{
    transform: rotateY(180deg);
  }
  
.rotar2 .box{
    transform: rotateY(0deg);
}

.modal1{
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1031;
}

.modal1--show{
    opacity: 1;
    pointer-events: unset;
}

.modal_container{
    background-color: white;
    padding: 10px;
}

.modal_img{
    background-color: #693D3D;
    margin-top: 10px;
    max-width: 90vw;
    max-height: 70vh;
}

.modal_img img{
    height: 100%;
    width: 100%;
    max-width: 90vw;
    max-height: 70vh;
}


.expandirImage{
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 2;
    font-size: 1.5rem;
}