body{
  margin: 0;
  padding: 0;
  background-color: #A1D6E2;
}

header{
    height: 7vh;
    min-height: 50px;
    background-color: #1995AD;
    border: 1px black solid;
}

.divLogo{
    height: 90%;
    width: 50px;
}

.imgLogo{
    height: 100%;
    width: 100%;
}

#inputBusqueda{
    height: 70%;
    width: 50%;
}







main{
    margin-top: 7vh;
}

.tarjeta {
    height: 500px;
    background-color: transparent;
    perspective: 1000px;
    cursor: pointer;
}
  
 .box {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .7s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.front {
    position: absolute;
    backface-visibility: hidden;
    background-color: #1995AD;
}

.back {
    position: absolute;
    backface-visibility: hidden;
    overflow-y: scroll;
    background-color: #BCBABE;
    transform: rotateY(180deg);
}

.card{
    height: 100%;
    width: 100%;
}

.card img{
    object-fit: cover;
    height: 70%;
}

.card-body p{
    margin: 7px;
}

.buttonFav{
    position: absolute;
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;
    right: 0;
}

/* .tarjeta:hover .box {
    transform: rotateY(180deg);
}  */


.rotar1 .box{
    transform: rotateY(180deg);
  }
  
.rotar2 .box{
    transform: rotateY(0deg);
}
